{% extends 'index.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-header">
        <h3>Docker</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagem</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>== CONTAINER ID ==</td>
                    <td>== CONTAINER IMAGE ==</td>
                    <td>== CONTAINER STATUS ==</td>
                    <td>
                        <a href="#" class="mr-2">
                            <i style="color: green;" class="fas fa-play"></i>
                        </a>
                        <a href="#">
                            <i style="color: red;" class="fas fa-stop"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}